* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

*,
body {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  text-align: left;
}

/* responsive margin */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* responsive margin */
/* common css */

footer,
header,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
}

ul {
  list-style: outside none none;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.row {
  width: 100%;
  flex-wrap: wrap;
  margin: -15px 0;
}

.container {
  color: #fff;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
  align-items: center;
}

.column3 {
  max-width: 33.33%;
  padding-right: 15px;
  padding-left: 15px;
}
.column4 {
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

/* common css */
.header-top {
  background: #0aaaa0 none repeat scroll 0 0;
  line-height: 40px;
}
.top-social {
  width: 50%;
}

.top-social ul li a,
.contact a {
  text-decoration: none;
  color: #fff;
}
.top-social ul li {
  list-style: none;
}

.contact {
  width: 50%;
  justify-content: end;
  margin-top: -10px;
}

.header-top .container img {
  filter: invert(100%);
  width: 30px;
  margin: 5px 3px;
}

.container .contact div {
  padding: 0 1.5rem;
}

.main-logo {
  width: 25%;
  padding: 27px 0px;
}

.main-menu {
  width: 75%;
  padding: 13px 32px;
  margin: 15px 57px;
}
.main-menu li {
  float: left;
  padding: 0 15px;
  position: relative;
}
.main-menu li a {
  color: rgb(116, 103, 103);
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
}
.donate-button {
  float: right;
}
.donate-button a {
  text-decoration: none;
  background: #0aaaa0 none repeat scroll 0 0;
  border: 1px solid #0aaaa0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  text-transform: uppercase;
}

.our-causes-area, .our-causes-area {
  padding: 90px 0;
}

.causes-title, .Volunteer-tittle {
  width: 100%;
  margin-bottom: 40px;
  color: #333333;
  font-size: 15px;
  margin-top: 10px;
  flex-direction: column;
}
.causes-title h2, .Volunteer-tittle h2 {
  color: #1b1b1b;
  font-size: 36px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 11px;
  text-transform: uppercase;
}

.causes-title h2 span, .Volunteer-tittle h2 span {
  color: #0aaaa0;
  font-size: 36px;
}

.single-causes, .single-volunteer {
  display: block;
  margin-bottom: -5px;
  overflow: hidden;
}

.causes-image img , .volunteer-image img{
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}
.causes-text {
  background: #f1f1f1 none repeat scroll 0 0;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 40px 25px;
}

.causes-text h3, .volunteer-text h3 {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
}

.causes-text.text-center > p,
.volunteer-text.text-center > p {
  color: #333;
  font-size: 13px;
  margin-bottom: 0;
}
.causes-button {
  float: left;
  width: 40%;
}

.causes-price {
  float: right;
  width: 60%;
}
.donate-btn {
  border: 1px solid #555;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 25px;
  text-transform: uppercase;
}

.causes-price h5 {
  color: #555;
  float: right;
  font-family: roboto;
  font-size: 16px;
  font-weight: bold;
}

.causes-title img, .Volunteer-tittle img {
  max-width: 100%;
  margin: 0 auto;
}

.volunteer-text {
  display: block;
  margin-bottom: 40px;
  overflow: hidden;
  padding: 5px 25px;
}

.volunteer-text h3 {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5;
}


.help-us-area {
  background: rgba(0, 0, 0, 0) url("../images/help-us-bg.jpg") repeat fixed 0 0;
  color: #fff;
  padding: 86px 0;
}

.help-us-tittle {
  margin-bottom: 75px;
}

.help-us-tittle h2 {
  font-size: 36px;
  font-weight: bold;
  margin: auto;
}

.help-icon {
  border: 1px solid #0aaac0;
  float: left;
  margin-right: 30px;
  width: 50px;
  height: 44px;
}

.help-icon span img {
  filter: invert(100%);
  height: 40px;
  width: 40px;
  justify-content: center;
}
.help-icon span {
  margin: 2px auto;
}

.help-text {
  float: right;
  width: 270px;
}

.help-text > h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.learn-more-btn {
  border: 1px solid #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 35px;
  padding: 0 10px;
  text-transform: uppercase;
  border-radius: 3px;
}

.footer-top {
  background: #232323 none repeat scroll 0 0;
  padding: 50px 0;
}

.footer-col-side {
  width: 33.33%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-col-mid {
  width: 16.67%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-widget-title > h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
  letter-spacing: 1px;
}

.footer-widget-title > h3::after {
  background: #0aaac0 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  top: 140%;
  width: 30px;
}

.list-icon li:hover {
  padding-left: 10px;
}

.footer-col-mid nav ul li a:hover {
  color: #0aaac0;
}

p,
.mb-15 {
  margin-bottom: 15px;
}
.widget-contact-content > h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.list-icon li::before {
  color: #fff;
  content: "\02C3";
  left: 0;
  position: relative;
  padding-right: 15px;
}

.list-icon li {
  margin-bottom: 12px;
}

.newslater {
  margin-top: 39px;
}

.newslater input {
  border: medium none;
  border-radius: 2px 0 0 2px;
  padding: 5px 10px;
}

button,
input {
  overflow: visible;
}

.newslater button {
  background: #0aaaa0 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0 2px 2px 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-left: -5px;
  /* padding: 6px; */
  padding-top: 8px;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 45px;
}
.form button img {
  filter: invert(100%);
  height: 25px;
  width: 25px;
  margin: auto 0;
}

.footer-bottom {
  background: #191919 none repeat scroll 0 0;
  padding: 10px 0;
}

.copyright {
  width: 66.67%;
  padding-left: 10px;
  justify-content: start;
}
.copyright p {
  margin: 0;
}
.footer-social {
  width: 33.33%;
  justify-content: end;
}
.footer-social ul li img {
  filter: invert(100%);
  height: 25px;
  width: 25px;
  margin: 5px 6px;
}

#scrollup {
  display: inline;
  background-color: #0aaaa0;
  bottom: 5px;
  cursor: pointer;
  height: 55px;
  position: fixed;
  right: 22px;
  text-align: center;
  width: 54px;
  z-index: 9999;
  transition: all 0.3s ease 0s;
}

.scrollup a::before {
  color: #fff;
  content: "\02C4";
  font-size: 50px;
}

/* utility classess */
.flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}
.text-center {
  text-align: center !important;
}

.margin0{
  margin: 0 0;
}