* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

*,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: left;
}

/* common css */

footer,
header,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
}

ul {
  list-style: outside none none;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.row {
  max-width: 100%;
  flex-wrap: wrap;
  margin: -15px 0;
}

.container {
  color: #fff;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
  align-items: center;
}

.column3 {
  max-width: 33.33%;
  padding-right: 15px;
  padding-left: 15px;
}
.column4 {
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}
.column6 {
  max-width: 16.67%;
  padding-right: 15px;
  padding-left: 15px;
}

img {
  vertical-align: middle;
}

/* common css */

/* header css */
.header-top {
  background: #0aaaa0 none repeat scroll 0 0;
  line-height: 33px;
}
.top-social {
  width: 50%;
}

.top-social ul li a,
.contact a {
  text-decoration: none;
  color: #fff;
}
.top-social ul li,
.contact li {
  list-style: none;
}

.contact {
  width: 50%;
  justify-content: end;
}

.header-top .container i {
  width: 1.3vw;
  margin: 5px 3px;
}

.header-top .container .contact i {
  margin: 9px;
}

.container .contact div {
  padding: 0 1.5rem;
}
.nav-bar {
  display: flex;
}

.main-logo {
  max-width: 20%;
  padding: 27px 0px;
}
.menu {
  width: 80%;
  display: flex;
}
.main-menu {
  display: flex;
  float: left;
  padding: 13px 32px;
  margin: auto auto;
}
.main-menu ul {
  display: flex;
}
.main-menu li {
  float: left;
  padding: 0 1vw;
  position: relative;
}
.main-menu li a {
  color: rgb(116, 103, 103);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: normal;
}
.donate-button {
  float: right;
  display: flex;
}
.donate-button a {
  text-decoration: none;
  background-color: #0aaaa0;
  border: 1px solid #0aaaa0;
  color: #fff;

  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  text-transform: uppercase;
}

.toggle-button {
  position: absolute;
  top: 5rem;
  right: 1rem;
  margin-right: 2%;
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.toggle-button .bar {
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 1002px) {
  .main-menu li {
    padding: 0px 0.5vw;
  }
}

@media (max-width: 960px) {
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-logo {
    width: 100%;
    padding-bottom: 9px;
  }
  .toggle-button {
    display: flex;
  }
  .menu {
    width: 100%;
    display: none;
    justify-content: center;
  }
  .main-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .main-menu ul {
    width: 100%;
    flex-direction: column;
  }

  .main-menu li {
    width: 100%;
    background-color: #46c7be;
    border-bottom: 2px solid white;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
  }

  .main-menu li a {
    color: #191919;
    letter-spacing: 2px;
  }

  .donate-button {
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .donate-button a {
    letter-spacing: 2px;
    text-align: center;
    width: 80%;
    background-color: #0aaaa0;
    margin-bottom: 5px;
  }
}

/* header css */

/* slider banner */
.slider-area {
  position: relative;
}

.nivoSlider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: none;
}

.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}

.nivo-caption {
  background: transparent none repeat scroll 0 0;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  display: none;
  left: 15%;
  opacity: 0.8;
  overflow: hidden;
  padding: 5px 10px;
  position: absolute;
  top: 37%;
  width: 50%;
  z-index: 8;
}

h1.banner-title {
  color: #fff;
  font-size: 2.1em;
  font-weight: bold;
}
.banner-btn-area {
  margin-right: 15px;
  margin-top: 25px;
}

.banner-btn {
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 12px;
  margin-right: 15px;
}

.nivo-directionNav a {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  color: #fff;
  top: 45%;
  z-index: 9;
}

#banner-left {
  left: 10%;
}
#banner-right {
  left: 90%;
}

/* slider banner */

/* our causes */
.our-causes-area,
.blog-area {
  padding: 2em 0;
}

.causes-title,
.Volunteer-title,
.blog-title,
.sponsors-title {
  width: 100%;
  margin-bottom: 40px;
  color: #333333;
  font-size: 15px;
  margin-top: 10px;
  flex-direction: column;
}
.causes-title h2,
.Volunteer-title h2,
.blog-title h2,
.sponsors-title h2 {
  color: #1b1b1b;
  font-size: 36px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 11px;
  text-transform: uppercase;
}

.causes-title h2 span,
.Volunteer-title h2 span,
.blog-title h2 span,
.sponsors-title h2 span {
  color: #0aaaa0;
  font-size: 36px;
}

.causes-title img,
.Volunteer-title img,
.blog-title img,
.sponsors-title img {
  filter: invert(100%);
  max-width: 100%;
  margin: 0 auto;
}

.single-causes,
.single-volunteer {
  display: block;
  margin-bottom: -5px;
  overflow: hidden;
}

.causes-image img,
.volunteer-image img {
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}
.causes-text {
  background: #f1f1f1 none repeat scroll 0 0;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 40px 25px;
}

.causes-text h3,
.volunteer-text h3 {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
}

.causes-text.text-center > p,
.volunteer-text.text-center > p {
  color: #333;
  font-size: 13px;
  margin-bottom: 0;
}
.causes-button {
  float: left;
  width: 40%;
}

.causes-price {
  float: right;
  width: 60%;
}
.donate-btn {
  border: 1px solid #555;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 25px;
  text-transform: uppercase;
}

.causes-price h5 {
  color: #555;
  float: right;
  font-family: roboto;
  font-size: 16px;
  font-weight: bold;
}

/* our causes */

/* volunteer-area */

.volunteer-area {
  color: #fff;
  padding: 3em 0;
}
.volunteer-text {
  display: block;
  margin-bottom: 40px;
  overflow: hidden;
  padding: 5px 25px;
}

.volunteer-text h3 {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5;
}

/* volunteer-area */

/* blog area */

.single-blog {
  border: 1px solid #efefef;
  overflow: hidden;
  padding-bottom: 15px;
}

.single-blog:hover {
  box-shadow: #191919;
}

.blo-image-and-date {
  position: relative;
}
.blo-image-and-date img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.blo-image-and-date > a {
  background: #0aaac0 none repeat scroll 0 0;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  line-height: 70px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 75px;
}

.blog-info {
  padding: 11px 15px 31px;
}

.blog-info a i {
  filter: invert(45%);
  padding: 2px;
}

.admin {
  width: 50%;
  float: left;
}

.admin > a {
  color: rgb(110, 108, 108);
  font-size: 14px;
}

.comment {
  float: right;
  text-align: right;
  width: 50%;
}

.comment > a {
  border-right: 1px solid;
  color: #888;
  padding: 0 7.5px;
}

.comment > a:last-child {
  border-right: 0px solid;
  padding-right: 0px;
}

.blog-text {
  padding: 15px;
}

.blog-text h3 a {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
}

.blog-text > a {
  border-bottom: 1px solid #333;
  color: #333;
  float: right;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.blog-text > p {
  color: #333;
  font-size: 14px;
}

/* blog area */

/* help us area */

.help-us-area {
  background: rgba(0, 0, 0, 0) url("../images/help-us-bg.jpg") repeat fixed 0 0;
  color: #fff;
  padding: 5em 0;
}

.help-us-title {
  margin-bottom: 75px;
}

.help-us-title h2 {
  font-size: 36px;
  font-weight: bold;
  margin: auto;
}

.help-icon {
  border: 1px solid #0aaac0;
  float: left;
  margin-right: 1em;
  width: 50px;
  height: 44px;
}

.help-icon span {
  margin: 2px auto;
}

.help-text {
  float: right;
  width: 270px;
}

.help-text > h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.learn-more-btn {
  border: 1px solid #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 35px;
  padding: 0 10px;
  text-transform: uppercase;
  border-radius: 3px;
}

/* help us area */

/* branding */

.brand-logo-area {
  margin: 2em 0;
}

.brand-logo {
  border: 1px solid #f0ebeb;
  padding: 30px 18px;
  text-align: center;
}
.brand-logo i {
  filter: invert(100%);
}

.brand-logo-space {
  justify-content: space-between;
}

/* branding */

/* footer */

.footer-top {
  background: #232323 none repeat scroll 0 0;
  padding: 50px 0;
}

.footer-col-side {
  width: 33.33%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-col-mid {
  width: 16.67%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-widget-title > h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
  letter-spacing: 1px;
}

.footer-widget-title > h3::after {
  background: #0aaac0 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  top: 140%;
  width: 30px;
}

.list-icon li:hover,
.list-icon i:hover {
  padding-left: 10px;
}

.footer-col-mid nav ul li a:hover {
  color: #0aaac0;
}

p,
.mb-15 {
  margin-bottom: 15px;
}
.widget-contact-content > h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.list-icon i {
  padding-right: 15px;
}

.list-icon li {
  margin-bottom: 12px;
}

.newslater {
  margin-top: 39px;
}

.newslater input {
  border: medium none;
  border-radius: 2px 0 0 2px;
  padding: 5px 10px;
}

button,
input {
  overflow: visible;
}

.newslater button {
  background: #0aaaa0 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0 2px 2px 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-left: -5px;
  padding: 6px;
  padding-top: 10px;
  text-align: center;
  width: 45px;
}
.form button i {
  margin: auto auto;
}

.footer-bottom {
  background: #191919 none repeat scroll 0 0;
  padding: 10px 0;
}

.copyright {
  width: 66.67%;
  padding-left: 10px;
  justify-content: start;
}
.copyright p {
  margin: 0;
}
.footer-social {
  width: 33.33%;
  justify-content: end;
}
.footer-social ul li i {
  margin: auto 6px;
}

#scrollup {
  display: inline;
  background-color: #0aaaa0;
  bottom: 40px;
  cursor: pointer;
  position: fixed;
  right: 22px;
  text-align: center;
  height: 3em;
  width: 3em;
  z-index: 9999;
}

.scrollup i {
  font-size: 3em;
}

/* footer */

/* utility classess */
.flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}
.text-center {
  text-align: center !important;
}

.margin0 {
  margin: 0 0;
}

/* responsive margin */

@media (min-width: 1200px) {
  .container {
    max-width: 1132px;
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 768px) and (max-width: 1201px) {
  .help-icon {
    float: none;
    margin: auto auto 20px;
    text-align: center;
  }

  .help-text {
    float: none;
    text-align: center;
    width: 100%;
  }
  .help-text h3,
  .help-text p {
    display: inline-block;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .causes-button-and-price {
    flex-direction: column;
  }

  .causes-button {
    float: none;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 10px;
  }
  .donate-btn {
    padding: 10px 30%;
  }

  .causes-price {
    float: none;
    width: 100%;
  }
  .causes-price h5 {
    float: none;
    text-align: center;
    line-height: 60px;
  }

  .footer-col-side,
  .footer-col-mid {
    width: 50%;
    padding-bottom: 15px;
  }
}
/* responsive margin */
